pdfminer.six
pytesseract
pdf2image
langdetect
nltk
transformers>=4.15.0
sentence-transformers
torch
fastapi
uvicorn
python-multipart
tqdm
evaluate
pymupdf
streamlit
sentence-transformers
transformers
torch
